/* AutoWritingText.css */
.auto-writing-text {
    border-right: 2px solid #000; /* Adjust the cursor style */
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
  }
  