.login-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.login-inner-container {
  width: 40%; /* Take up half of the container */
  padding-right: 50px;
  margin-top: 20px;
  align-items: center;
  justify-content: center; /* Add some spacing */
}

.login-video {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;

  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

.login-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}

.img-logo {
  width: 45px;
  height: 45px;
  margin-left: 140px;
  align-items: center;
  justify-content: center;
}

.img-login {
  max-width: 100%;
  width: 40px;
  height: 40px;
  border-radius: 26px;
  margin-left: 20px;
  /* Ensure the image doesn't overflow */
}

.login-inner-container h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.email label,
.password label {
  margin-left: 10px;
  margin-bottom: 5px;
}

.email input,
.password input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.email ::placeholder,
.password ::placeholder {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 10px 100px;
  font-size: 16px;
  color: #fff;
  background-color: #79ac78;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.login-button:hover {
  background-color: #b7ceb7;
}

.checkbox-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.checkbox {
  margin-left: 5px;
  margin-bottom: 5px;
}

.text {
  margin-left: 10px;
}

.sign-in-text {
  margin-top: 10px;
  font-weight: 800;
}

.salutaion {
  align-items: center;
  justify-content: center;
}

.text-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-105%, -108%);
  z-index: 10;
  text-align: center;
}

.text-login h2 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-102%, 800%);
  z-index: 10;
  text-align: center;
}

.text-register p {
  color: white;
  font-size: 18px;
}

.text-register a {
  color: #79ac78;
  font-size: 20px;
  padding: 5px 25px;
  background-color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .img-logo {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .img-logo {
    margin-left: 140px;
  }
}
