.process-container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.path {
    position: absolute;
    width: 2px;
    height: 80%; /* Adjust as needed */
    background-color: #3498db; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}

.image-popup {
    position: absolute;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    background-color: #fff; /* Adjust as needed */
    border: 2px solid #3498db; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-popup img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.image-popup.active {
    opacity: 1;
}