.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 90px;
}

.signup-inner-container {
  width: 50%;
  padding-right: 25px;
}

.signup-image {
  width: 40%;
  text-align: center;
}

.img-signup {
  max-width: 100%;
  width: 450px;
  height: 450px;
  border-radius: 26px;
  margin-left: 20px;
}

.signup-inner-container h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.select-role select,
.district select,
.first-name input,
.last-name input,
.email input,
.password input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.select-role label,
.first-name label,
.last-name label,
.email label,
.password label,
.district label {
  margin-left: 10px;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 14px;
}

.sign-up-button {
  width: 100%;
  padding: 10px 70px;
  font-size: 16px;
  color: #fff;
  background-color: #79ac78;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.sign-up-button:hover {
  background-color: #b7ceb7;
}

.forgot-password {
  margin-top: 15px;
  font-size: 14px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
